* 
    margin: 0
    padding: 0
    box-sizing: border-box
    color: #ffffff
    



    
body
    
    // background-image: url(/assets/bg-mobile.jpg)
    // background-repeat: no-repeat
    // background-position: top center // Eixo y começa no top e x no center
    // background-size: cover // Cobrir todo o background visivel sem perder detalhes

    //background: color image repeat position / size ===> Jeito encurtado / shorthand
    background: url(/img/bg-mobile.jpg)
    font-family: "Inter", sans-serif

    
.container
    margin: 0 auto //
    width: 360px
    //height: 712px == A altura deve ser fluída, o conjunto de elementos define a altura final.
    margin: 56px auto 0px //top, right, bottom, left
    padding: 0 24px

    .profile
        text-align: center
        padding: 24px
        img
            width: 112px
        p
            font-weight: 500
            line-height: 24px
            margin-top: 8px
            //font-size: 16px

//links

ul
    list-style: none
    display: flex
    flex-direction: column
    gap: 16px
    padding: 24px 0px
    
    li

        a
            
            backdrop-filter: blur(4px)
            border: 1px solid rgba(255, 255, 255, 0.5)
            border-radius: 8px
            background: rgba(255, 255, 255, 0.1)
            text-decoration: none
            display: flex
            justify-content: center //vertical
            align-items: center //horizontal
            padding: 16px 24px
            font-weight: 500
            transition: background 0.2s
            &:hover
                border: 1.5px solid #FFF
                background: rgba(255, 255, 255, 0.05)
.social-links
    display: flex
    justify-content: center
    align-items: center
    font-size: 32px
    padding: 24px
    a
        display: flex
        align-items: center
        justify-content: center
        padding: 16px
        transition: background 0.2s
        border-radius: 50%
    a:hover
        background: rgba(255, 255, 255, 0.2)

footer
    padding: 24px 0px
    text-align: center
    font-size: 14px
    
        

                
