* 
    margin: 0
    padding: 0
    box-sizing: border-box
    



    
body
    
    // background-image: url(/assets/bg-mobile.jpg)
    // background-repeat: no-repeat
    // background-position: top center // Eixo y começa no top e x no center
    // background-size: cover // Cobrir todo o background visivel sem perder detalhes

    //background: color image repeat position / size ===> Jeito encurtado / shorthand
    background: url(/assets/bg-mobile.jpg) no-repeat top center/cover
    font-family: "Inter", sans-serif
    color: #ffffff

    
.container
    margin: 0 auto //
    width: 360px
    //height: 712px == A altura deve ser fluída, o conjunto de elementos define a altura final.
    border: 1px solid red

    .profile
        text-align: center
        img
            width: 112px
        p
            font-weight: 500
            line-height: 24px
            //font-size: 16px

            

